# Binaries
/cli
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment files
.env
.env.*
*.env
!.env.example
!.env.server.example
!.env.worker.example
keypair.json

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Go specific
*.test
*.out
/vendor/
bin/*

# Logs
logs/*
*.logbin/

outreach.yaml
prompts.server.yaml
prompts.worker.yaml
integration-stdout.log
integration-worker.log
todo.txt
tmp/
